<h1>Ideas</h1>

<%= link_to "Create a New Idea", new_category_idea_path(@category, @idea) %></br>

<% @ideas.each do |idea| %>
<h3><%= link_to idea.title, category_idea_path(@category,idea) %></h3>
<%= button_to "Edit", edit_category_idea_path(@category,idea), method: :get %>
<%= button_to "Delete", category_idea_path(@category,idea), method: :delete %>
<% end %>
